<script src="js/appointmentDetails.js"></script>

<div id="appointmentDetails">
    <div class="text-center">
        <button class="btn btn-dark" onclick="loadAppointmentList()">Go Back</button>
        <button id="delBtn" class="btn btn-danger">Delete</button>
    </div>


    <div class="card container">
        <div class="card-body">
            <h2 id="appointmentTitle" class="card-title text-center"></h2>
            <h5 id="appointmenCreator" class="card-text text-center">Creator: </h5>

            <p id="appointmentLocation" class="card-text"><strong>Location: </strong></p>
            <p id="appointmentDescription" class="card-text"><strong>Description: </strong></p>
            <p id="appointmentExpiryDate" class="card-text"><strong>Expiry Date: </strong></p>



            <form id="voteForm" onsubmit="submitVoteForm()">
                <div class="text-end">
                    <button class="btn btn-dark">Submit Vote</button>
                </div>
            </form>
            <table class="table table-hover">
                <thead>
                    <tr id="allDateOptions">
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="voteCount">
                        <th scope="row">Vote Count</th>
                    </tr>
                    <tr id="inputRow">
                        <th scope="row">
                            <input form="voteForm" type="text" class="form-control" id="voteUserName" placeholder="Your Name..." style="max-width: 20em;" maxlength="254" pattern="^[A-Za-z-'ÄäÖöÜüß]*$" required>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">

            <h5>Write a Comment</h5>
            <form id="commentForm" action="#" onsubmit="submitNewCommentForm()">
                <label for="commentAuthor">Your Name</label>
                <input type="text" class="form-control " id="commentAuthor" placeholder="Max Mustermann" maxlength="254" pattern="^[A-Za-z- ' ÄäÖöÜüß]*$" required>
                <label for="commentMessage">Your Message</label>
                <input type="text" class="form-control" id="commentMessage" placeholder="Awesome" maxlength="254" pattern="^[A-Za-z- ' ÄäÖöÜüß]*$" required>
                <button class="btn btn-dark">Submit Comment</button>
            </form>
            <h5>Comments:</h5>
            <div id="comments">
            </div>
        </div>
    </div>

</div>