<div id="newAppointmentForm">
    <div class=text-center>
        <button class="btn btn-dark" onclick="loadAppointmentList()">Go Back</button>
    </div>

    <div class="mb-3">
        <label for="appointmentTitle" class="form-label">Appointment Title</label>
        <input type="text" class="form-control" id="appointmentTitle" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="appointmentLocation" class="form-label">Location</label>
        <input type="text" class="form-control" id="appointmentLocation" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="appointmentExpiryDate" class="form-label">Expiry Date</label>
        <input type="date" class="form-control" id="appointmentExpiryDate">
    </div>
    <div id="dateGroup">
        <div class="mb-1">
            <label for="appointmentDateOption-1" class="form-label">Date Options</label>
            <input type="date" class="form-control" id="appointmentDateOption-1">
        </div>
    </div>
    <button class="btn btn-dark" onclick="addDate()">Add Another Date</button>
    <button class="btn btn-primary">Submit</button>
</div>